
@media screen and (max-width: 567px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .container header img {
    width: 150px;
    height: 170px;
    margin: 15px 0;
  }

  .container header .nama .tombol {
    padding-bottom: 15px;
  }

  main .about {
    flex-direction: column;
    margin-left: 15px;
  }

  .kotak {
    flex-direction: column;
  }
}